<% include ./partials/header %>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8"> 
        <img src="https://images.unsplash.com/photo-1453473552141-5eb1510d09e2?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" style="width: 100%; height: 100%;padding-top:100px;">
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8"> 
       <p style="color:white; text-align: center;"> Sorry, this link is unavailable. Return <a href="/watch" style="text-decoration:none; color:white"><strong>HOME</strong></a> or stay and nap!</p>
    </div>
</div>
    



<% include ./partials/footer %>