<% include ./partials/header %>


<div style="padding-top: 20%;">
    <div style = "text-align: center;">
        <h1 style="color: white; text-shadow: 3px 3px 3px black; font-family: 'Lato', sans-serif;">Welcome to <div style="font-size: 3em;">TwitchMe</div></h1>
        <a  href="/watch" class ="btn btn-primary" style="background-color: black; border-color: black;">ENTER</a>
    </div>
    
    <div style = "margin: 0 auto; width: 30%;">
        <img src="">
    </div>
</div>

<% include ./partials/footer %>