<% include ./partials/header %>
     <div style="width: 30%; margin: 25px auto;">
        <h1 style="padding-top: 100px; color:white; text-shadow: 1px 1px 2px black;">Login!</h1>
        <form action = "/login"  method="POST" class="form-inline">
            <input class="form-control" type="text" name="username" placeholder="username">
            <input class="form-control"  type="password" name="password" placeholder="password">
            <button class = "btn btn-default form-control"> Login </button>
        </form>
    </div>


<% include ./partials/footer %>